{{ form_start(form) }}
    <div class="container-fluid">
        <div class="rows">
            <div class="form-group">
                <div>
                    {{form_label(form.nomContact)}}
                </div>
                <div>
                    {{ form_widget(form.nomContact) }}
                </div>
                <div>
                    {{form_errors(form.nomContact)}}
                </div>
            </div>
            <div class="form-group">
                <div>
                    {{form_label(form.emailContact)}}
                </div>
                <div>
                    {{ form_widget(form.emailContact) }}
                </div>
                <div>
                    {{form_errors(form.emailContact)}}
                </div>
            </div>
            <div class="form-group">
                <div>
                    {{form_label(form.messageContact)}}
                </div>
                <div>
                    {{ form_widget(form.messageContact) }}
                </div>
                <div>
                    {{form_errors(form.messageContact)}}
                </div>
            </div>
            <div>
                <button class="btn btn-success">Envoyer votre message</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
